.App {
  background-color: rgb(190, 124, 247);
}
.boxes {
  background-color: rgb(206, 151, 255);
  padding-top: 20px;
}
.box {
  position: relative;
  border: 1px solid #AD8BF7;
  border-bottom: 3px solid #AD8BF7;
  border-left: 3px solid #AD8BF7;
  background-color: white;
  /* float: left; */
  padding-left: 15px;
  flex-direction: column;
  width: 500px;
}
.whyBox {
  width: 150px;
  height: auto;
  border: 1px solid #AD8BF7;
  border-bottom: 3px solid #AD8BF7;
  border-left: 3px solid #AD8BF7;
  background-color: white;
  margin: 10px;
  padding-top: 10px;
  padding-left: 15px;
  flex-wrap: wrap;
  float: right;
}
.box2 {
  border: 1px solid #AD8BF7;
  border-bottom: 3px solid #AD8BF7;
  border-left: 3px solid #AD8BF7;
  background-color: white;
  margin: 10px;
  padding-top: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.why1 {
  color: rgb(193, 14, 109);
  font-size: 17px;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-bottom: -10px;
}
.UMbuttons {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
}
.IQbuttons {
  padding-left: 10px;
  margin-bottom: -10px;
}
.Ibutton {
  background-color: #AD8BF7;
  border: none;
  height: 30px;
  margin-right: 10px;
  width: 120px;
}
.Qbutton {
  background-color: #AD8BF7;
  border: none;
  height: 30px;
  width: 120px;
}
.useButton {
  width: 65px;
  height: 25px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
}
.moreButton {
  width: 65px;
  height: 25px;
  border: 1px solid orange;
  background-color: orange;
  color: black;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.personBox {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #AD8BF7;
  background-color: white;
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: row;
}
.parent {
  flex-direction: row;
}
.info {
  float: left;
  padding-left: 20px;
}
.image {
  float: left;
  height: 150px;
  padding-left: 20px;
}
.personImage {
  position: relative;
  top: 25px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.title {
  color: rgb(193, 14, 109);
  font-size: 23px;
  text-align: start;
  flex-wrap: wrap;
  padding-left: 10px;
}
.description {
  text-align: left;
  flex-wrap: wrap;
  padding-left: 10px;
  text-align: start;
}
.xmark {
  border: none;
  background-color: white;
  font-size: 20px;
  margin-left: 120px;
  margin-bottom: -4px;
}
.chat {
  border-radius: 10px;
  max-width: 80%;
  height: 360px;
  margin-left: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: -1;
}
.background{
  background-color: #AD8BF7;
  padding-top: 20px;
}
.sampleQuestions {
  border: 1px solid rgb(217, 253, 245);
  width: fit-content;
  height: 30px;
  padding: 0px 10px 0px 10px;
  background-color: rgb(217, 253, 245);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
  opacity: 80%;
  margin-bottom: 3px;
  float: right;
}
.sampleQuestions:hover{
  cursor: pointer;
}
.textField {
  width: 90%;
  float: left;
}
.sendButton{
  width: 10%;
  height: 50px;
  float: right;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.sendButton:hover{
  cursor: pointer;
  background-color: rgba(214, 214, 191, 0.53);
}
.cancelCard {
  width: 200px;
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10%;
  border-color: rgb(97, 29, 243);
  border-radius: 10px;
  background-color: rgb(97, 29, 243);
  color: white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: center;
}
.cancelCard:hover {
  background-color: rgb(133, 77, 255);
  cursor: pointer;
  transition: 200ms;
}
.openAcc {
  padding: 3px;
  margin-top: 10px;
  background-color: white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin-left: 250px;
}
.openAcc:hover {
  background-color: lightgrey;
  cursor: pointer;
  transition: 200ms;
}
.right {
  width: max-content;
  padding: 5px 10px 5px 10px;
  border: 5px solid rgb(191, 246, 255);
  background-color: rgb(191, 246, 255);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-around;
  margin-right: 10px;
  float: right;
  word-wrap: break-word;
}
.left {
  width: max-content;
  padding: 5px 10px 5px 10px;
  border: 5px solid rgb(217, 253, 245);
  background-color: rgb(217, 253, 245);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 10px;
}

@media (min-width:700px){
  .navbar{
    width: 50%;
  }
  .box{
    border-radius: 0px;
  }
  .tabs{
    margin-top: -40px;
  }
}
@media (min-width: 300px){
 
  .box{
    border-radius: 20px;
  }
  .tabs{
    margin-top: 0px;
  }
}